.Box1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.greenbox {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    margin-right: 20px;
    position: relative;

}

.orangebox {
    height: 30px;
    width: 30px;
    background-color: orange;
    position: absolute;
    bottom: 0px;
}

.bluemain {
    height: 400px;
    width: 400px;
    background-color: lightblue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
}

.bluebox {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
}

.lilabox {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

