.top {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.test {
    font-size: 50px;
    bottom: 0px;
    position: absolute;
}

.year {
    font-size: 50px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.bottom {
    position: fixed;
    bottom: 0px;
    background-color: rgb(73, 160, 73);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.middle {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    margin-left: 100px;
}

.left {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}