.middle {
    color: black;
    background-color: rgb(192, 188, 188);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    ;
}

body {
    background-image: url(Supra\ mk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
}