.header{
    font-family: cursive;
    background-color:lime;
}


ul{
    font-family: cursive;
    list-style-type: none;
    font-size: 20px;
    background-color: lightblue;
}

body{
    text-align: center;
}

.tasks{
    background-color: lightgreen;
}

*{
    margin: 0px;
}

.Addtask{
    font-family: cursive;
    font-size: 20px;
    position: relative;
}

body {
    background-color: lightgray
}
